
@import '../global.scss';


#nav{
    position: fixed;
    width: 90vw;
    max-width: 100%;

    border-bottom: solid 1px black;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top:0;
    padding: .5em 0;   
    .navItem {
        flex:1;
        padding: 0 .25em;
        font-size: 1.4em;
        &:not(:nth-child(5)){
            border-right: solid 1px black;
        }
    }
}