@import "../variables.scss";

#products {
    padding-bottom: 0;;
    background-color: #f3f6f5;
    #productsHeader {
        background-image: url("../assets/images/BGS/productsBG.jpg");
        font-family: $headerFont;
        font-size: 6em;
        height: 3em;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        color: #f3f6f5;
        justify-content: center;
        background-position: top;
        background-size: cover;
        line-height: 1.25em;
        @media screen and (max-width: $mobileCutoff) {
            font-size: 3.25em;
            height: 3.5em;
        }
    }


    #comingSoonHeader {
        background: black;
        font-family: $headerFont;
        font-size: 6em;
        height: 3em;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
        background-position: center;
        background-size: cover;
        line-height: 1.25em;
        @media screen and (max-width: $mobileCutoff) {
            font-size: 3.25em;
            height: 3.5em;
        }
    }
    
    #comingSoon {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        .comingSoonSubHeader {
            width: 100%;
            font-family: $headerFont;
            font-size: 1.8em;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 2em 0 1em 0;
            border: 0;
            @media screen and (max-width: $mobileCutoff) {
                font-size: 1.8em;
                height: 2em;
                margin-bottom: 0em;
            }
        }
        .comingSoonProduct {
            display: flex;
            flex: 1;
    
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 2em 1em;
    
            .comingSoonProductName {
                font-family: $headerFont;
                font-size: 2em;
                @media screen and (max-width: $mobileCutoff) {
                    font-size: 1.8em;
                    height: 2em;
                }
            }
            .comingSoonProductDescription {
                font-family: $sansFont;
                font-size: 1.25em;
            }
        }
    }
}

