@import "../variables.scss";

#products {
    padding-bottom: 0;
    background-color: #f3f6f5;

    #productsHeader {
        background-image: url("../assets/images/BGS/productsBG.jpg");
        font-family: $headerFont;
        font-size: 6em;
        height: 3em;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        color: #f3f6f5;
        justify-content: center;
        background-position: top;
        background-size: cover;
        line-height: 1.25em;
        @media screen and (max-width: $mobileCutoff) {
            font-size: 3.25em;
            height: 3.5em;
        }
    }
    #productsBody {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .productsSubHeader {
            width: 100%;
            font-family: $headerFont;
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 2em 0 1em 0;
            border-bottom: solid 1px black;
            max-width: 50%;
            @media screen and (max-width: $mobileCutoff) {
                font-size: 1.8em;
                margin-bottom: 0em;
                max-width: 95%;
            }
        }
        #productsAvailable {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            justify-content: center;

            .availableProduct {
                display: flex;
                flex: 1;

                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                @media screen and (max-width: $mobileCutoff) {
                    align-items: center;
                }
                padding: 2em 1em;

                .availableProductName {
                    font-family: $headerFont;
                    font-size: 2em;
                    @media screen and (max-width: $mobileCutoff) {
                        font-size: 1.8em;
                        align-items: center;
                    }
                }
                .availableProductDescription {
                    font-family: $sansFont;
                    font-size: 1.5em;
                    margin-bottom: 0.5em;

                    @media screen and (max-width: $mobileCutoff) {
                        text-align: center;
                    }
                }
            }
            .productImgs {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                img {
                    border-radius: 5px;
                    max-width: 50vw;
                    max-height: 15em;
                    margin-bottom: 1em;

                    &:not(:last-child) {
                        margin-right: 2em;
                    }
                    @media screen and (max-width: $mobileCutoff) {
                        margin-right: 0;
                        max-width: calc(45vw - 2em);
                        &:not(:last-child) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        #comingSoon {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            justify-content: center;
            .comingSoonProduct {
                display: flex;
                flex: 1;

                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 2em 1em;

                .comingSoonProductName {
                    font-family: $headerFont;
                    font-size: 2em;
                    @media screen and (max-width: $mobileCutoff) {
                        font-size: 1.8em;
                        height: 2em;
                    }
                }
                .comingSoonProductDescription {
                    font-family: $sansFont;
                    font-size: 1.25em;
                }
            }
        }
    }
}
