@import "../variables.scss";

#services {
    background-image: linear-gradient(rgba(black, 0.35), rgba(black, 0.45)),
        url("../assets/bgImage/blueBikiniFrontUp.jpg");
    background-size: cover;
    flex-direction: column;
    background-attachment: fixed;
    @media screen and (max-width: $mobileCutoff) {
        background-attachment: scroll;
        background-position: center;
    }
    @media screen and (min-width: 1001px) {
        min-height: 100vh;
    }
    #servicesHeader {
        font-size: $headerFontsize;
        padding: 0.5em;
        color: $lightTextColor;
        border-bottom: solid 2px $lightTextColor;
        background-color: rgba($lightTextColor, 0.25);
        @media screen and (max-width: $mobileCutoff) {
            font-size: $mobile_HeaderFontsize;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex: 1;
        flex-direction: column;
        @media screen and (min-width: 1001px) {
            justify-content: space-around;
        }
        li {
            font-size: $fontSize;
            @media screen and (min-width: 1001px) {
                font-size: 1.75em;
            }
            color: $lightTextColor;
            margin: 0.5em 0;

            .desc {
                font-size: 0.6em;
                @media screen and (min-width: 1001px) {
                    font-size: 0.75em;
                }
            }
        }
    }
}
