@import "../variables";

#splash {
    background-image: url("../assets/images/BGS/splashBG_1080v.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    overflow: hidden;
    @media screen and (max-width: $mobileCutoff) {
        background-attachment: scroll;
        background-position: center;
    }
    @media screen and (min-width: $XLcutoff) {
        background-position: 0 -15em;
        background-image: url("../assets/images/BGS/splash_1200v.jpg");
    }
    #splashLogo {
        max-width: 80%;
        filter: drop-shadow(2px 3px 5px rgba(black, 0.5));
        z-index: 9999;
        position: absolute;
        user-select: none;
    }


    #introBlock{

    }
}
