@import "../variables";

#splash {
    background-image: url("../assets/images/BGS/splashBG_1080v.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 0;
    @media screen and (max-width: $mobileCutoff) {
        background-attachment: scroll;
        background-position: center;
    }
    @media screen and (min-width: $XLcutoff) {
        background-position: 0 -15em;
        background-image: url("../assets/images/BGS/splash_1200v.jpg");
    }
    #splashLogoContainer {
        display: flex;
        flex: 1.25;
        justify-content: center;
        align-items: flex-end;
        #splashLogo {
            max-width: 80%;
            filter: drop-shadow(2px 3px 5px rgba(black, 0.5));
            user-select: none;
        }
    }

    #introBlock {
        width: 65%;
        @media screen and (max-width: $mobileCutoff) {
            width: 90%;
        }

        font-family: $sansFont;
        color: white;
        display: flex;
        flex: 1 1;
        align-items: flex-end;
        font-size: 1.2em;
        font-weight: 700;
        padding: 0 1.15em 3em 1.15em;
    }
}
