@import "variables";

body {
  background: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sectionFadeIn {
  animation: fadeIn 0.25s 1;
  padding-bottom: 2em;;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

#topNav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 30%;
  min-width: 500px;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(3px);

  @media screen and (max-width: $mobileCutoff) {
    width: 100%;
    max-width: 100%;
    top: unset;
    min-width: unset;;
    bottom: -2px;
  }

  .navMenuItem {
    padding: 0.65em 0;
    font-family: $headerFont;
    color: white;
    background: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    transition: background 0.25s;
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;

    text-align: center;
    font-size: 1.2em;

    &:hover {
      background: rgba(0, 0, 0, 0.75);
    }
    &:not(:last-child) {
      border-right: solid 1px white;
    }
    &:first-child {
      border-bottom-left-radius: 7px;
      @media screen and (max-width: $mobileCutoff) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 7px;
      }
    }
    &:last-child {
      border-bottom-right-radius: 7px;
      @media screen and (max-width: $mobileCutoff) {
        border-bottom-right-radius: 0;
          border-top-right-radius: 7px;
        }
    }
    .textSeperator {
      padding: 0 0.25em;
    }
    &.selected {
      background: rgba(0, 0, 0, 0.75);
      // text-decoration: underline;
      &:hover {
        background: rgba(0, 0, 0, 1);
      }

      .textSeperator {
        border-bottom: solid 1px white;
      }
    }
  }
}
