.flex1{
    display:flex;
    flex:1;
}
.flexColumn{
    display:flex;
    flex-direction: column;
}


.centeredFlex{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fullPageSection{
    height: auto;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.splitScreen{
    display:flex;
    flex:1;
}
