@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;500&family=Work+Sans:wght@300;400&display=swap");

$mobileCutoff: 1000px;

$lightTextColor: rgb(231, 231, 231);
$darkTextColor: rgb(71, 71, 71);
$darkGrey: #8e9aaf;
$lightPurple: #cbc0d3;
$darkPink: #ac5799;
$lightPink: #fff0d4;
$lightBlue: #dee2ff;
$lightGreen: rgb(135, 187, 135);

$gradient: linear-gradient(45deg, rgba(rgb(172, 85, 99), 1), rgba(rgb(77, 130, 165), 1), rgba(rgb(160, 48, 117), 1));

$generalFont: "Work Sans", sans-serif;
$sansFont: "Josefin Sans", sans-serif;
$headerFontsize: 3.5em;
$fontSize: 1.5em;
$mobile_HeaderFontsize: 2.5em;
$mobile_fontSize: 1.25em;

@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }
    25% {
        background-position: 70% 75%;
    }
    50% {
        background-position: 10% 50%;
    }
    75% {
        background-position: 30% 5%;
    }
    100% {
        background-position: 100% 0%;
    }
}
